<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="control/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="view/styles/regform.css">
    <title>Document</title>
</head>
<body>
    <h1 id="title">Brainrot School Voting System</h1>
    <div id="regForm">
        <input type="hidden" id="id">
        <input type="text" id="firstName" placeholder="FirstName">
        <input type="text" id="middleName" placeholder="MiddleName">
        <input type="text" id="lastName" placeholder="LastName">
        <input type="text" id="studentCourse" placeholder="Course">



        <button id="regBtn">Register</button>


        
    </div>

    <script src="control/auth.js"></script>
</body>
</html>